/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/09/2021, 3:33:45 p. m.
    Author     : GABRIEL
*/

.container {
        display: grid;
        grid-template-columns: 0.4fr 1.3fr 1.3fr;
        grid-template-rows: 0.3fr 1.3fr 1.3fr 0.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "landing_navbar Header Header"
          "landing_navbar section section"
          "landing_navbar section section"
          "footer footer footer";
      }

      .Header { grid-area: Header; 
                
                background-color: #F7A516;
      }

      .section { grid-area: section; 
                 
      }

      .landing_navbar { 
          display: grid; 
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
            "nav_01"
            "Nav_02"; 
            grid-area: landing_navbar; 
            background-color: #0053AB;
            text-align: center;
            
                        
     }
     
      .nav_01 { grid-area: nav_01; 
                
      }
      .Nav_02 { grid-area: Nav_02; 
                
      }
      
      
      .footer { grid-area: footer; 
                
                background-color: #0053AB;
      }
      .wrapper {
          height:20px; 
        width:100px; 
        margin: -20px -50px; 
        position:relative;
        top:40%; 
        left:0%;
      }